body {
    overflow-x: hidden;
    width: 100%;
}

.header-info {
    color: #171717;
    font-size: 1.4rem;
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
    text-decoration: none;
  }
.header-info-italic {
      color: #171717;
      font-size: 1.4rem;
      font-family: 'Oxygen', sans-serif;
      font-style: italic;
      font-weight: bold;
      text-decoration: none;
  }


  .card-no-border {
    border: none;
  }

  .visina {
    height: 20rem;
    width: auto;
  }

.grid {
  display: grid;
  grid-template-columns : repeat(3,1fr);
  grid-template-rows: repeat(2, 20vw);
  grid-gap: 10px;
}

.grid_image {
  width:100%;
  height:100%;
  object-fit:cover;
}

.card-columns{
    display: inline-block;
}

.header-info-b {
    color: #171717;
    font-size: 2.3rem;
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
    text-decoration: none;
  }

.hyperlink{
    transition: color 0.8s;
    color: #171717;
}

.hyperlink:hover {
    color: #2d966b;
    text-decoration: none;
    transition: color 0.4s;
}

.card-img:hover{
    transition: transform 0.5s;
    transform: scale(1.04);
}

.card-img{
    transition: transform 0.5s;
    transform: scale(1.0);
}


.fade-in {
animation: fadeIn ease 3s;
-webkit-animation: fadeIn ease 3s;
-moz-animation: fadeIn ease 3s;
-o-animation: fadeIn ease 3s;
-ms-animation: fadeIn ease 3s;
}
@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

.header-info-upload {
      color: #171717;
      font-size: 1.8rem;
      font-family: 'Oxygen', sans-serif;
      font-style: italic;
      font-weight: bold;
      text-decoration: none;
  }

  .card-info-italic {
        color: #171717;
        font-size: 2rem;
        font-family: 'Oxygen', sans-serif;
        font-style: italic;
        font-weight: bold;
        text-decoration: none;
    }

.hyperlink-slide{
    transition: color 0.8s;
    color: #FFFFFF;
}