.header-info {
    color: #171717;
    font-size: 2.2rem;
    font-family: roboto, sans-serif;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
  }

  .archive{
    color: #171717;
    font-size: 2.2rem;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
  }

  .footerText {
    color: white;
    font-size: 1.2rem;
    font-family: roboto, sans-serif;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
  }

  .footer {
    font-family: roboto, sans-serif;
    position: relative;
    left: 0;
    bottom: 0;
    top: 5rem;
    width: 100%;
    background-color: #171717;
    color: white;
    text-align: center;
  }

  .flipbook{
    width: 82.5rem;
    height: 29.85rem;

  }

  .margin{
      text-align: center;
      margin-left: -41.5rem;
  }
  a:hover {
    color: #232323;
    background-color: transparent;
    text-decoration: underline;
  }
